body {
    width: 100%;
    height: 100%;
    background: #1b6a2d;
    margin: 0;
    padding: 0;
}

.mainBody {
    width: 100%;
    min-width: 720px;
    height: 100%;
    min-height: 550px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
}

.mainBody::before {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    content: '';
}

.start {
    display: inline-block;
}

.start,
.game,
.finish {
    width: 700px;
    vertical-align: middle;
}

.game,
.finish {
    display: none;
}

.start__image {
    width: 503px;
    height: 262px;
    background: url('../images/StartGame.png') no-repeat;
    display: inline-block;
}

.finish__image {
    width: 516px;
    height: 275px;
    margin: 9px;
    background: url('../images/Group 2.png') no-repeat;
    display: inline-block;    
}

.mainBody,
.start__nameGame,
.finish__result,
.result-scores,
.start__button,
.finish__button,
.menu__restart,
.scores-block__mark,
.result-scores__mark,
.scores-block
    {
    font-family: HelveticaNeue, Helvetica , Arial, sans-serif;
    font-weight: bold;
    color: #fff;
    opacity: 0.85;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
}

.start__nameGame {
    font-size: 28px;    
    letter-spacing: 0.2px;
    margin: 20px;
}

.finish__result,
.result-scores {
    font-size: 24px;    
    letter-spacing: 0.15px;
}

.start__button,
.finish__button {
    height: 42px;
    border-radius: 4px;
    opacity: 0.85;
    color: #1c7430;
    font-size: 16px;
}

.start__button {
    width: 144px;
    margin: 14px;
}

.finish__button {
    width: 128px;
    margin: 40px;
}

.deck {
    width: 100%;
}

.menu {
    width: 100%;
    color: #fff;
    position: relative;
    text-align: left;
}

.menu__restart {
    background: #1b6a2d;
    font-size: 14px;
    letter-spacing: -0.25px;
    border: 0px;
    padding: 0;
}

button {
    outline: 0 !important;
}

.deck__string-game {
    width: 100%;
    /*height: 159px;*/
    height: 139px;
    margin: 20px 0;
    display: block;
}

.card-block,
.card-block__shirt,
.card-block__image-сard {
    display: inline-block;
    /*height: 159px;*/
    height: 139px;
}

.card-block,
.card-block__image-сard,
.card-block__shirt {
    /*width: 114px;*/
    width: 100px;
}

.card-block {
    margin: 0 10px;
}

.card-block:first-child {

    margin: 0 10px 0 0;

}

.card-block:last-child {

    margin: 0 0 0 10px;

}

.card-block__image-сard {
    position: relative;
    /*top: -164px;*/
    top: -144px;
}

.card-block__shirt {
    border-radius: 5px;
    background: url('../images/shirt.png') repeat;
}

.scores-block,
.result-scores {
    display: inline;
}

.scores-block {
    position: absolute;
    right: 0px;
}

.finish {
    display: none;
}

.scores-block__mark,
.result-scores__mark {
    display: inline;
}

.card-block__shirt.closeShirt,
.card-block__image-сard.closeCard {
    -o-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition-duration: 150ms;
}

.card-block__shirt.openShirt,
.card-block__image-сard.openCard {
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transition-duration: 150ms;
}

.card-block__image-сard.openCard,
.card-block__shirt.openShirt {
    transition-delay: 150ms;
}

.part1,
.part4 {
   /* width: 17px;*/
    width: 14px;
    /*height: 159px;*/
    display: inline-block;
    position: absolute;
    border-radius: 5px 0 0 5px;
}

.part2,
.part3 {
    /*width: 41px;*/
    width: 36px;
    /*height: 159px;*/
    display: inline-block;
    position: absolute;  
}

.noPart,
.part1,
.part4,
.part2,
.part3 {
    /*background: url('../images/sprite.png');
    background-size: 940px 636px;*/
    height: 139px;
    background: url('../images/sprite_v2.png');
    background-size: 822px 556px;
    /*height: 159px;*/
}

.noPart {
    border-radius: 5px;
}

.part1 {
    left: 0;
}

.part2 {
    /*left: 17px;*/
    left: 14px;
}

.part3{
    /*left: 57px;*/
    left: 50px;
    transform: scaleX(-1);
}

.part4{
    /*left: 97px;*/
    left: 86px;
    transform: scale(-1);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .noPart,
    .part1,
    .part4,
    .part2,
    .part3 {
        /*background: url('../images/sprite@2x.png');
        background-size: 940px 636px;*/
        background: url('../images/sprite@2x_v2.png');
        background-size: 822px 556px;
    }

    .start__image {
        background: url('../images/StartGame@2x.png') no-repeat;
        background-size: 503px 262px;
    }
    
    .finish__image {
        background: url('../images/Group 2@2x.png') no-repeat;
        background-size: 516px 275px;
    }
}

@media (max-width: 720px), (max-height: 600px) {
    .mainBody {
        position: relative;
    }
}